/* workoutCard.css */

.workout-card {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 25px;
  border: 1px solid #333;
  box-shadow: 0 4px 20px rgba(255, 99, 71, 0.2);
  transition: transform 0.3s ease,
              box-shadow 0.3s ease;
}

.workout-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 30px rgba(255, 99, 71, 0.4);
}

.day-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exercise-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 15px;

  background-color: #1a1a1a;
  padding: 12px 15px;

  border-radius: 10px;
  border-left: 4px solid tomato;

  transition: background-color .2s ease;
}

.exercise-item:hover {
  background-color: #2a2a2a;
}

.exercise-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ex-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.ex-type {
  margin-top: 6px;

  width: fit-content;

  padding: 4px 8px;

  border: 1px solid tomato;
  border-radius: 5px;

  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.sets-display {
  width: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px;

  background-color: #262626;
  border-radius: 8px;
}

.sets-count {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffcc00;
}

.sets-label {
  color: #aaa;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.edit-button {
  min-width: 70px;

  background: transparent;
  border: none;

  color: #ffcc00;

  cursor: pointer;

  font-size: .9rem;
  font-weight: bold;

  transition: .2s;
}

.edit-button:hover {
  color: tomato;
}

.AddExerciseButton {
  margin-top: 15px;

  padding: 10px;

  width: 100%;

  border: none;
  border-radius: 8px;

  background-color: #ffcc00;
  color: black;

  font-size: .95rem;
  font-weight: bold;

  cursor: pointer;

  transition: .2s;
}

.AddExerciseButton:hover {
  background-color: #fad12e;
}

.delete-day-button {
  margin-top: 10px;

  padding: 10px;

  width: 100%;

  border: none;
  border-radius: 8px;

  background-color: darkred;
  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: .2s;
}

.delete-day-button:hover {
  opacity: .8;
}